{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "interface",
    "(?=content|api)",
    "context/",
    "mock/",
    "config",
    "utils/",
    "hooks/",
    "(components/|./index)",
    "^../(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
